[Unit]
Description=Install to disk
Before=network.target
After=systemd-udevd.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c "sleep 8; bash /usr/bin/disk_installer.sh"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
